<h2><%= @user.name.capitalize %></h2>

<% if @user.events.any? %>
    <% if @user.upcoming_events.any? %>
        <h3>Upcoming events</h3>
        <ol>
            <%= render @user.upcoming_events %> <!-- This renders the events with views/events/_event -->
        </ol>
    <% end %>
    <% if @user.previous_events.any? %>
        <h3>Previous events</h3>
        <ol>
            <%= render @user.previous_events %> <!-- This renders the events with views/events/_event -->
        </ol>
    <% end %>
<% else %>
    <h1>You dont have any events</h1>
<% end %>

<% if @user.attended_events.any? %>
    <h3>Events im attending</h3>
    <ol>
        <%= render @user.attended_events %> <!-- This renders the events with views/events/_event -->
    </ol>
<% end %>