<h2><%= @user.name.capitalize %></h2>

<%= render "upcoming_events" if @user.upcoming_events.any?%>
<%= render "previous_events" if @user.previous_events.any? %>

<% unless @user.events.any? %>
    <h3>You dont have any events</h3>
<% end %>

<% if @user.attended_events.any? %>
    <h3>Events im attending</h3>
    <ol>
        <%= render @user.attended_events %> <!-- This renders the events with views/events/_event -->
    </ol>
<% end %>