<h2><%= @user.name.capitalize %></h2>

<%= render "upcoming_events" %>
<%= render "previous_events" %>

<% unless @user.events %>
    <h3>You dont have any events</h3>
<% end %>

<% if @user.attending_events %>
    <h3>Events im attending</h3>
    <ol>
        <%= render @user.attending_events %> <!-- This renders the events with views/events/_event -->
    </ol>
<% end %>