<ul> 
    <h3>Upcoming events</h3>
    <%= render Event.upcoming %>  <!-- This renders the events with _event partial -->
    
    <h3>Previous events</h3>
    <%= render Event.past %>  <!-- This renders the events with _event partial -->
</ul>
