<% @invitations.each do |invite| %>
    <% next if invite.accepted? %>
    <p>Invitation from <%= invite.event.creator.name.capitalize %></p>
    <%= render invite.event %>
    <% session[:invite_id] = invite.id %>
    <%= button_to "Accept", invitation_path(invite.id), method: :patch %>
    <%= button_to "Decline", invitation_path(invite.id), method: :delete %>
<% end %>