<% @invitations.each do |invite| %>
    <% next if invite.accepted? %>
    <p><%= invite.invite_sender.name.capitalize %> has invited you to his event.</p>
    <p>Event name: <%= invite.event.event_name %></p>
    <p>When: <%= invite.event.date %></p>
    <%= button_to "Accept", invitation_path(invite.id), params: "true", method: :patch %>
<% end %>